html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    display: inline;
    margin-left: 10px;
    margin-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 3px black;
}

.burger {
    margin-bottom: -5px;
}

.pizza {
    margin-bottom: -17px;
}

.header {
    border: 10px dashed yellow;
    padding: 15px;
    background-color: red;
    text-align: center;
}

.recipe-list {
    width: 1300px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
}

.preview {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

.recipe {
    height: 250px;
    width: 324px;
    margin: 41px;
    border: 2px solid lightgrey;
    border-radius: 19px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.recipe:hover {
    border: 2px solid gray;
    transform: scale(1.05);
    transition: transform 0.2s ease;
    box-shadow: 0px 0px 20px gray;
}